<nav>
  <ul class="pagination justify-content-center">
    <li class="page-item" *ngIf="activePage > 1">
      <a class="page-link cursor-pointer" (click)="pChange(activePage - 1)" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>

    <li class="page-item" [ngClass]="{'active': p == activePage}" *ngFor="let p of pages">
      <a class="page-link cursor-pointer" [ngClass]="{'noselect': p === '...'}" (click)="p !== '...' ? pChange(p) : false">{{p}}</a>
    </li>

    <li class="page-item" *ngIf="totalPages > activePage">
      <a class="page-link cursor-pointer" (click)="pChange(activePage + 1)" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>