<div class="container">
  <div class="row"><h2>Total: {{itemsTotal}}</h2></div>
  <div class="row">
    <button type="button" class="btn margin-right-6" [ngClass]="{'btn-primary' : itemsPerPage == 20, 'btn-secondary': itemsPerPage !== 20}" (click)="itemsPerPageChange(20)">20</button>
    <button type="button" class="btn margin-right-6" [ngClass]="{'btn-primary' : itemsPerPage == 50, 'btn-secondary': itemsPerPage !== 50}" (click)="itemsPerPageChange(50)">50</button>
    <button type="button" class="btn margin-right-6" [ngClass]="{'btn-primary' : itemsPerPage == 100, 'btn-secondary': itemsPerPage !== 100}" (click)="itemsPerPageChange(100)">100</button>
  </div>
  <hr>

      <div class="input-group">
        <input type="text" class="form-control" (keyup)="search($event.target.value)" #searchInput placeholder="Enter search keyword here...">
        <span class="input-group-btn">
          <button class="btn btn-warning cursor-pointer" (click)="init(); searchInput.value = ''">Clear</button>
        </span>
      </div>

<table class="table">
  <thead>
  <tr>
    <th>#</th>
    <th (click)="sortBy('first_name')" class="sort-by" [ngClass]="setSortableClassName('first_name')">First Name</th>
    <th (click)="sortBy('last_name')" class="sort-by" [ngClass]="setSortableClassName('last_name')">Last Name</th>
    <th (click)="sortBy('email')" class="sort-by" [ngClass]="setSortableClassName('email')">Email</th>
    <th (click)="sortBy('gender')" class="sort-by" [ngClass]="setSortableClassName('gender')">Gender</th>
    <th (click)="sortBy('ip_address')" class="sort-by" [ngClass]="setSortableClassName('ip_address')">IP</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of data; let i = index">
    <th scope="row">{{itemsPerPage * (currentPage-1) + i + 1}}</th>
    <td>{{item.first_name}}</td>
    <td>{{item.last_name}}</td>
    <td>{{item.email}}</td>
    <td>{{item.gender}}</td>
    <td>{{item.ip_address}}</td>
  </tr>
  </tbody>
</table>
  <div *ngIf="data && totalPages > 1">
    <app-paging [totalPages]="totalPages" [activePage]="currentPage" (onPageChange)="pageChaned($event)"></app-paging>
  </div>
</div>
