<div class="container">
  <div class="row"><h2>Total: {{itemsTotal}}</h2></div>
  <div class="row">
    <button type="button" class="btn margin-right-6" [ngClass]="{'btn-primary' : itemsPerPage == 20, 'btn-secondary': itemsPerPage !== 20}" (click)="itemsPerPageChange(20)">20</button>
    <button type="button" class="btn margin-right-6" [ngClass]="{'btn-primary' : itemsPerPage == 50, 'btn-secondary': itemsPerPage !== 50}" (click)="itemsPerPageChange(50)">50</button>
    <button type="button" class="btn margin-right-6" [ngClass]="{'btn-primary' : itemsPerPage == 100, 'btn-secondary': itemsPerPage !== 100}" (click)="itemsPerPageChange(100)">100</button>
  </div>
  <hr>
<table class="table">
  <thead>
  <tr>
    <th>#</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Gender</th>
    <th>IP</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of data; let i = index">
    <th scope="row">{{itemsPerPage * (currentPage-1) + i + 1}}</th>
    <td>{{item.first_name}}</td>
    <td>{{item.last_name}}</td>
    <td>{{item.email}}</td>
    <td>{{item.gender}}</td>
    <td>{{item.ip_address}}</td>
  </tr>
  </tbody>
</table>
  <div class="row" *ngIf="data">
    <app-paging [totalPages]="totalPages" [activePage]="currentPage" (onPageChange)="pageChaned($event)"></app-paging>
  </div>
</div>
